@model IEnumerable<Service.Models.PetViewModel>

@{
    ViewData["Title"] = "Index";
}

<section>
    @using (Html.BeginForm())
    {
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Buscar por resumo" name="palavraChave">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    }
</section>

<section>
    <div class="container">
        @{int nrColunas = 0;}
        <div class="card-deck">
            <div class="row">
                @foreach (var item in Model)
                {
                    @if (nrColunas == 4)
                    {
                        nrColunas = 0;
                        @:</div>
                        <br>
                        @:<div class="row">
                    }
                    <div class="col-sm">
                        <div class="card mb-3" style="width: 18rem;">
                            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Pet">
                                @if (item.Foto != null)
                                {
                                    <img class="card-img-top" src="~/img/profile_pet/@item.Foto" alt="@item.Foto">
                                }
                                else
                                {
                                    <img class="card-img-top img-fluid" src="~/img/profile_pet/image-not-found.png" alt="Card image cap">
                                }
                            </a>
                        </div>
                    </div>
                    nrColunas++;
                }
            </div>
       </div>
    </div>
</section>