@model IEnumerable<Domain.Entities.Pet>

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <div class="row">
            <div class="card-deck">

                @foreach (var item in Model)
                 {
                <div class="card mb-3" style="width: 18rem;">
                    @if (item.Photo != null)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Pet">
                            <img class="card-img-top" src="~/img/profile_pet/@item.Photo" alt="@item.Photo">
                        </a>
                    }
                    else
                    {
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Pet">
                        <img class="card-img-top img-fluid" src="~/img/profile_pet/image-not-found.png" alt="Card image cap">
                    </a>
                    }
                </div>
                 }
            </div>
        </div>
    </div>
</section>