@model Service.Models.PetViewModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Cadastrar</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                <input asp-for="Resumo" class="form-control" />
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArquivoFoto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ArquivoFoto" class="custom-file-input" type="file" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolha a imagem</label>
                </div>
                <span asp-validation-for="ArquivoFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" id="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOng" class="control-label"></label>
                <select asp-for="IdOng" class="form-control" asp-items="ViewBag.IdOng"></select>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
   <script>
        $(function () {
            $("#DataNascimento").mask("00/00/0000", { placeholder: "__ /__ / _____" });
        });
   </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
