@model IEnumerable<adotapet.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Abstract)</p>
                        <a href="#" class="btn btn-primary">Adotar</a>
                    </div>
            </div>
         </td>
        }
    </tbody>
</table>
